################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/__pycache__/design.cpython-39.pyc
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/Calculator/v16/.suo
